<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aethsoft.sephiros.codeplus">
    <!--
     Declaring permissions that will be needed for the app. To find out how to declare them,
    https://developer.android.com/guide/topics/permissions/overview and
    https://developer.android.com/reference/android/Manifest.permission was used to find
    the relevant permissions to add
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JavaSRTopics"></activity>
        <activity android:name=".JavaSevenSR3" />
        <activity android:name=".JavaSevenSR2" />
        <activity android:name=".JavaSevenSR1" />
        <activity android:name=".JavaSixSR5" />
        <activity android:name=".JavaSixSR4" />
        <activity android:name=".JavaSixSR3" />
        <activity android:name=".JavaSixSR2" />
        <activity android:name=".JavaSixSR1" />
        <activity android:name=".JavaComplete" />
        <activity android:name=".JavaSevenPointTwoPointOne" />
        <activity android:name=".JavaSevenPointOnePointFour" />
        <activity android:name=".JavaSevenPointOnePointThree" />
        <activity android:name=".JavaSevenPointOnePointTwo" />
        <activity android:name=".JavaSevenPointOnePointOne" />
        <activity android:name=".JavaProgramQuiz35" />
        <activity android:name=".JavaProgramQuiz34" />
        <activity android:name=".JavaProgramQuiz33" />
        <activity android:name=".JavaProgramQuiz32" />
        <activity android:name=".JavaProgramQuiz30" />
        <activity android:name=".JavaProgramQuiz31" />
        <activity android:name=".JavaProgramQuiz29" />
        <activity android:name=".JavaProgramQuiz28" />
        <activity android:name=".JavaSixPointOnePointOne" />
        <activity android:name=".JavaSevenPointThree" />
        <activity android:name=".JavaSevenPointTwo" />
        <activity android:name=".JavaSevenPointOne" />
        <activity android:name=".JavaSixPointFive" />
        <activity android:name=".JavaSixPointFour" />
        <activity android:name=".JavaSixPointThree" />
        <activity android:name=".JavaSixPointTwo" />
        <activity android:name=".JavaSixPointOne" />
        <activity android:name=".StartJava7" />
        <activity android:name=".StartJava6" />
        <activity android:name=".JavaProgramQuiz27" />
        <activity android:name=".JavaProgramQuiz26" />
        <activity android:name=".JavaProgramQuiz25" />
        <activity android:name=".JavaProgramQuiz24" />
        <activity android:name=".JavaProgramQuiz23" />
        <activity android:name=".JavaFiveSR4" />
        <activity android:name=".JavaFiveSR3" />
        <activity android:name=".JavaFiveSR2" />
        <activity android:name=".JavaFiveSR1" />
        <activity android:name=".JavaFivePointFour" />
        <activity android:name=".JavaFivePointThree" />
        <activity android:name=".JavaFivePointTwo" />
        <activity android:name=".JavaFivePointOne" />
        <activity android:name=".StartJava5" />
        <activity android:name=".JavaFourPointFour" />
        <activity android:name=".JavaFourPointThree" />
        <activity android:name=".JavaFourPointTwo" />
        <activity android:name=".JavaFourPointOne" />
        <activity android:name=".JavaFourSR4" />
        <activity android:name=".JavaFourSR3" />
        <activity android:name=".JavaFourSR2" />
        <activity android:name=".JavaFourSR1" />
        <activity android:name=".JavaProgramQuiz22" />
        <activity android:name=".JavaProgramQuiz21" />
        <activity android:name=".JavaProgramQuiz20" />
        <activity android:name=".JavaProgramQuiz19" />
        <activity android:name=".JavaProgramQuiz18" />
        <activity android:name=".StartJava4" />
        <activity android:name=".JavaProgramQuiz17" />
        <activity android:name=".JavaProgramQuiz16" />
        <activity android:name=".JavaProgramQuiz15" />
        <activity android:name=".JavaProgramQuiz14" />
        <activity android:name=".JavaProgramQuiz13" />
        <activity android:name=".JavaThreePointFour" />
        <activity android:name=".JavaThreePointThree" />
        <activity android:name=".JavaThreePointTwo" />
        <activity android:name=".JavaThreePointOne" />
        <activity android:name=".JavaThreeSR4" />
        <activity android:name=".JavaThreeSR3" />
        <activity android:name=".JavaThreeSR2" />
        <activity android:name=".JavaThreeSR1" />
        <activity android:name=".StartJava3" />
        <activity android:name=".JavaTwoPointThreePointOne" />
        <activity android:name=".JavaTwoSR3" />
        <activity android:name=".JavaTwoPointThree" />
        <activity android:name=".JavaTwoSR2" />
        <activity android:name=".JavaTwoPointTwoPointOne" />
        <activity android:name=".JavaTwoPointTwo" />
        <activity android:name=".JavaTwoSR1" />
        <activity android:name=".JavaProgramQuiz12" />
        <activity android:name=".JavaProgramQuiz11" />
        <activity android:name=".JavaProgramQuiz10" />
        <activity android:name=".JavaProgramQuiz9" />
        <activity android:name=".JavaProgramQuiz8" />
        <activity android:name=".JavaProgramQuiz7" />
        <activity android:name=".JavaTwoPointOnePointThree" />
        <activity android:name=".JavaTwoPointOnePointTwo" />
        <activity android:name=".JavaTwoPointOnePointOne" />
        <activity android:name=".JavaTwoPointOne" />
        <activity android:name=".JavaSRQuestion" />
        <activity android:name=".JavaOneSR4" />
        <activity android:name=".JavaOneSR3" />
        <activity android:name=".JavaOneSR2" />
        <activity android:name=".JavaOneSR1" />
        <activity android:name=".StartJava2" />
        <activity android:name=".JavaProgramQuiz6" />
        <activity android:name=".JavaProgramQuiz5" />
        <activity android:name=".JavaOnePointFour" />
        <activity android:name=".JavaProgramQuiz4" />
        <activity android:name=".JavaProgramQuiz3" />
        <activity android:name=".JavaProgramQuiz2" />
        <activity android:name=".JavaProgramQuiz" />
        <activity android:name=".JavaOnePointTwoPointThree" />
        <activity android:name=".JavaOnePointTwoPointTwo" />
        <activity android:name=".JavaOnePointTwoPointOne" />
        <activity android:name=".JavaOnePointThree" />
        <activity android:name=".JavaOnePointTwo" />
        <activity android:name=".JavaOnePointOne" />
        <activity android:name=".StartPython" />
        <activity android:name=".StartJava" />
        <activity android:name=".StartApp" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>